# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MidtermProject.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\UnityProjects\midtermProject\MidtermProject\.idea\.idea.MidtermProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
